fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
paddlepaddle
paddleocr
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
openpyxl
pydantic
pydantic-settings
PyMuPDF
python-dotenv
vietocr
torch
torchvision
groq
