fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
paddlepaddle-gpu==2.6.2
paddleocr==2.9.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
openpyxl
pydantic
pydantic-settings
PyMuPDF
python-dotenv
vietocr
torch
torchvision
openai
